# (c) Cocktail
# Fichier de config de l'application Inscription 
# Les parametres definis ici remplacent ceux
# definis dans la table GRHUM.GRHUM_PARAMETRES 

APP_ID=INSCRIPTION
APP_ALIAS=Inscription
APP_TITLE=INSCRIPTION

# Config SAUT
# SAUT_URL = Adresse de votre serveur SAUT si vous en avez un 
# (du type http://www.univ-xxxxxx.fr/cgi-bin/WebObjects/ServAut.woa/wa/)
SAUT_URL=http://apps.univ-lr.fr/cgi-bin/WebObjects/ServAut.woa/wa/
#SAUT_URL=http://kava.univ-lr.fr:8686/cgi-bin/WebObjects.exe/ServAut.woa/wa/

# Translations...
# GRHUM doit pointer sur... GRHUM
# SCOL doit pointer sur GARNUCHE
# LMD doit pointer sur SCOLARITE
SAUT_ID_TRANSLATION=GRHUM:GRHUMT,SCOL:SCOLT,LMD:LMDT
#SAUT_ID_TRANSLATION=GRHUM:GRHUMD,SCOL:SCOLD,LMD:LMDD

# (true|false) Utilisation de l'identification CAS
APP_USE_CAS=true

# Code RNE de l'établissement par défaut sur lequel on lance l'application quand aucun code rne n'est spécifié dans l'url
DEFAULT_C_RNE=0171463Y

# Code spécifique à cette instance, pour utilisation des frameworks spécifiques associés à ce code.
# Si défini, utilisera les frameworks spécifiques suffixés de ce code s'ils existent.
#SUFFIXE_SPECIFICITE=

APP_USE_MAIL=true
HOST_MAIL=mailhost.univ-lr.fr
ADMIN_MAIL=pdm@univ-lr.fr
DOMAIN_NAME=univ-lr.fr
NET_NO_PROXY_HOSTS=*.univ-lr.fr
MAIN_LOGO_URL=http://www.univ-lr.fr/image_partagee/ULRLogo90.gif

# (true|false) Si true, les mails d'erreur normalement envoyes par l'application
# au responsable de l'appli (ADMIN_MAIL ci-dessus) ne sont pas envoyes
MODE_DEVELOPPEMENT=true
