<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="fr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body bgcolor = "#bfdbff">
      <span><center>
        <p>
          <font font-weight = "bold" color = "red" size="+1">Une erreur inattendue est survenue.</font>   
        </p>
        <p>
          Veuillez r&eacute;-&eacute;ssayer un peu plus tard et nous excuser pour ce d&eacute;sagr&eacute;ment.     
        </p>
        <p>
          Cliquer <webobject name = "RetourAccueil">ici</webobject> pour revenir <br/>
          sur la page d'accueil de l'application.
        </p>
      </center></span>
  </body>    
</html>