<webobject name = "Wrapper">
	<webobject name = "ContainerGeneral">
		<webobject name = "IsAfficherQbe">
		  <webobject name = "ContainerQbe">
		    <center>
		    <fieldset title = "Recherche" >
		    <legend>Recherche&nbsp;<webobject name = "WaitSmall"/></legend>
		    <webobject name = "FormQbeEtudiant">
		      <table>
		        <thead>
		          <tr>
		            <th>N&deg; INE/BEA</th>
		          </tr>
		        </thead>
		        <tbody>
		          <tr>
		            <td><webobject name = "QbeNumeroINE"/><webobject name = "ObserverNumeroINE"/></td>
				    <td><webobject name = "Rechercher"/></td>
		          </tr>
		        </tbody>
		      </table>
		    </webobject>
		    </fieldset>
		    </center>
		  </webobject>
		</webobject>
		
		<webobject name = "IsAfficherDossier">
			  <webobject name = "DossierAdministratif"/>
		</webobject>
	
	</webobject>
	
</webobject>
<webobject name="JSSelectNumeroINEField"/>