<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<script type="text/javascript" src="<webobject name=JSPrototype></webobject>"></script>
<title>Inscriptions administratives</title>
<style type="text/css">
<!--
.Style1 {font-size: 36px}
.Style2 {font-size: 40px; }
-->
</style>
</head>
<webobject name="Body">
</webobject>
</html>