<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="fr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body bgcolor = "#bfdbff">

  <center>
    <div style = "overflow-y:auto;height:250px;border:1px solid #4E80C0;">
    <table border="0" class="liste" style="font-size:14px;">
      <thead>
        <tr>
          <th class="alignToLeft"><span>Documents</span></th>
          <th class="useMinWidth nowrap"><span>&nbsp;</span></th>
        </tr>
      </thead>
      <tbody class="avecSelection">
        <webobject name = "Documents">        
        <tr>
          <td class="useMaxWidth"><span><webobject name = "LibelleDocument"/></span></td>
          <td nowrap><span><webobject name = "LienTelechargement"><webobject name = "ImageTelechargement"/></webobject></span></td>
        </tr>
        </webobject>
      </tbody>
    </table>
    </div>
    <div>
      <center>
      <span><webobject name = "Fermer"></webobject></span>
      </center>
    </div>
    </center>

  </body>    
</html>